
<div class="wrapper">
	<div class="h44"></div>
	<div class="nav">
		<a href="javascript:history.go(-1);" class="nav-l"></a>
		<span class="nav-c">设置安全口令</span>
	</div>
	<div class="aqkl-form mt-10">
		<ul>
			<li><label>短信验证码</label><input type="text" placeholder="输入6位验证码"></li>
			<li class="tips">我们已发送短信至182**** 9999,请在输入框输入收到的验证码</li>
			<li><label>安全口令</label><input type="number" placeholder="输入安全口令，6位数字"></li>
			<li><label>确认安全口令</label><input type="number" placeholder="请再次输入确认"><span class="eye"></span></li>
		</ul>
	</div>
	<div class="aqkl-btn mt-90">
		<button>确认</button>
	</div>
</div>
