<div class="wrapper">
	<div class="h44"></div>
	<div class="nav">
		<a href="javascript:history.go(-1);" class="nav-l"></a>
		<span class="nav-c">绑定信息</span>
	</div>
	<div class="label-a mt-10">
		<ul>
			<li class="bor-none"><a href=""><img src="images/icon42.png"><label>实名认证</label><span class="orange">已认证</span></a></li>
		</ul>
	</div>	
	<div class="label-a mt-10">
		<ul>
			<li class="bor-none"><a href=""><img src="images/icon54.png"><label>银行卡</label><span class="orange">已绑定</span></a></li>
		</ul>
	</div>	
</div>	