
<div class="wrapper">
	<div class="h44"></div>
	<div class="nav">
		<a href="javascript:history.go(-1);" class="nav-l"></a>
		<span class="nav-c">收款计算器</span>
	</div>
	<div class="cpxq-num bg-fff">
		<div class="calc">
			<p>
				<span class="jian">-</span>
				<input type="number" disabled="true" value="50000">
				<span class="jia">+</span>
			</p>
		</div>
	</div>
	<div class="label-a mt-10">
		<ul>
			<li class="bor-none"><label><b>预期本息</b></label><span class="red">--</span></li>
			<li><label>投资本金</label><span class="red">--</span></li>
			<li><label>预期利息</label><span class="red">--</span></li>
		</ul>
	</div>
	<p class="calc-tit mt-10">还款共2期，如下</p>
	<div class="label-a">
		<ul>
			<li class="bor-none"><label><b>01</b></label></li>
			<li><label>本期本金</label><span class="red">--</span></li>
			<li><label>本期利息</label><span class="red">--</span></li>
			<li><label>本期收款日</label><span class="red">--</span></li>
			<li><label>预期收款日期</label><span>2017-09-22</span></li>
		</ul>
	</div>
	<div class="label-a mt-10">
		<ul>
			<li class="bor-none"><label><b>02</b></label></li>
			<li><label>本期本金</label><span class="red">--</span></li>
			<li><label>本期利息</label><span class="red">--</span></li>
			<li><label>本期收款日</label><span class="red">--</span></li>
			<li><label>预期收款日期</label><span>2017-09-22</span></li>
		</ul>
	</div>
</div>