<div class="wrapper">
	<div class="cpxq-nav">
		<a href="javascript:history.go(-1);" class="nav-l"></a>
		<a href="javascript:;" class="nav-r"></a>
		<span class="nav-c">神山国际二期</span>
	</div>		
	<div class="cpxq-top">
		<ul>
			<li class="cpxq-t-1of">8.50%</li>
			<li class="cpxq-t-2of">预期年化收益</li>
			<li class="cpxq-t-3of">
				<div>
					<ul>
						<li class="ta-l"><span>起投</span><b>5万元</b></li>
						<li class="ta-c"><span>限期</span><b>90天</b></li>
						<li class="ta-r"><span>兑换方式</span><b>到期付息</b></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
	<div class="cpxq-speed">
		<div class="tips" style="left: 73%">已投资80%</div>
		<div class="jd" style="width: 80%"></div>
	</div>
	<div class="cpxq-est">
		<ul>
			<li><span class="red">50</span><small>项目总金额（万）</small></li>
			<li><span class="red">10</span><small>剩余总金额（万）</small></li>
		</ul>
	</div>
	<div class="cpxq-num bor mt-10 bg-fff">
		<div class="tit">投资金额<p>预期收益:<span class="red">200</span>(元)</p></div>
		<div class="calc">
			<p>
				<span class="jian">-</span>
				<input type="number" disabled="true" value="50000">
				<span class="jia">+</span>
			</p>
		</div>
		<div class="tips">10000的整数倍追加，起投金额50000</div>
	</div>		
	<div class="jjxq-details mt-10">
		<ul>		
			<li class="bor-none"><a href="javascript:;" class="red"><label>可用优惠券</label><span class="red">5</span></a></li>
		</ul>
	</div>
	<div class="cpxq-cycle">
		<p class="tit">购买周期</p>
		<ul>
			<i></i>
			<li class="ta-l"><span>申购日</span><small>2017-6-6</small></li>
			<li class="ta-c"><span>收益起始日</span><small>2017-6-6</small></li>
			<li class="ta-c"><span>收益到期日</span><small>2017-6-6</small></li>
			<li class="ta-r"><span>预期收款日</span><small>2017-6-6 <i>节假日顺延</i></small></li>
		</ul>
	</div>
	<div class="jjxq-details mt-10">
		<ul>
			<li class="bor-none"><a href=""><img src="images/icon10.png"><label>产品介绍</label></a></li>
			<li><a href="#/calc"><img src="images/icon11.png"><label>收款计算器</label></a></li>
			<li><a href="#/xgxy"><img src="images/icon12.png"><label>相关协议</label></a></li>
		</ul>
	</div>


	<div class="h60"></div>
	<div class="fixed-btm">
		<a href="javascript:;" class="bgred">预约抢购</a>
	</div>
</div>

