
<div class="h44"></div>
<div class="nav-bg-fff bor-none">
	<a href="javascript:history.go(-1);" class="nav-l"></a>
	<a href="javascript:;" class="nav-r">完成</a>
	<span class="nav-c">订单详情</span>
</div>	
<div class="dhcg-top">
	<ul>
		<li>兑换成功！</li>
		<li class="tips">兑换商品将会在一个工作日内寄出</li>
	</ul>
</div>
<div class="dhcg-add">
	<ul>
		<li>收货人：小宋</li>
		<li>收货地址：上海市上海市上海市上海市上海市上海市上海市上海市上海市上海市上海市上海市上海市上海市上海市上海市上海市</li>
	</ul>
</div>
<div class="dhcg-code">
	<ul>
		<li>兑换编号：QWERDF10086</li>
		<li class="tips">(对订单存疑可拨打客服电话1555-5-55-55，凭此编号查询)</li>
	</ul>
</div>