
<div class="h44"></div>
<div class="nav">
	<a href="javascript:history.go(-1);" class="nav-l"></a>
	<span class="nav-c">兑换记录</span>
</div>	
<div class="dhjl-list">
	<p>8月使用积分 <b class="orange r">4380</b></p>
	<ul>
		<li><span class="tit">HELLO KITTY陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗</span>X2 <span class="jf">4380</span><span class="time">2017-2-2</span></li>
		<li><span class="tit">HELLO KITTY陶瓷碗</span>X2 <span class="jf">4380</span><span class="time">2017-2-2</span></li>
		<li><span class="tit">HELLO KITTY陶瓷碗</span>X2 <span class="jf">4380</span><span class="time">2017-2-2</span></li>
	</ul>
</div>
<div class="dhjl-list">
	<p>7月使用积分 <b class="orange r">4380</b></p>
	<ul>
		<li><span class="tit">HELLO KITTY陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗</span>X2 <span class="jf">4380</span><span class="time">2017-2-2</span></li>
		<li><span class="tit">HELLO KITTY陶瓷碗</span>X2 <span class="jf">4380</span><span class="time">2017-2-2</span></li>
		<li><span class="tit">HELLO KITTY陶瓷碗</span>X2 <span class="jf">4380</span><span class="time">2017-2-2</span></li>
	</ul>
</div>
<div class="jl-no-more" hidden>
	<img src="images/icon67.png">
	<span>你还没用任何兑换商品！</span>
</div>