
<div class="wrapper">
	<div class="h44"></div>
	<div class="nav">
		<a href="javascript:history.go(-1);" class="nav-l"></a>
		<a href="javascript:;" class="nav-rs">续投记录</a>
		<span class="nav-c">定期理财</span>
	</div>
	<div class="dqlc-top">
		<div class="ring">
			<div class="outer2">
			  <div class="load_left2"><span style="transform: rotate(0deg);"></span></div>
			  <div class="load_right2"><span style="transform: rotate(108deg);"></span></div>
			  <div class="inner2"></div>
			</div>
		</div>
		<div class="msg">
			<ul>
				<li><span class="color1">代收本金</span>1000000,000</li>
				<li><span class="color2">已收本金</span>500000,000</li>
			</ul>
		</div>
	</div>

	<div class="dqlc-tab mt-10 bor-none">
		<ul>
			<li class="act" tab>持有中</li>
			<li tab>已到期</li>
		</ul>
	</div>
	<div class="chanpin-tabbox">
		<div class="chanpin-list">
			<a href="#/sgxq">
				<p class="tit">神山国际度假二期 SSGJ (5万起投)<em class="xu">续</em></p>
				<div class="details">
					<ul>
						<li class="ta-l"><span><small>50000</small></span><b>投资金额</b></li>
						<li class="ta-c"><span><small>2017-8-8</small></span><b>收益到期日</b></li>
						<li class="ta-r"><span><small>2000000</small></span><b>预期本息</b></li>
					</ul>
				</div>
			</a>
		</div>
		<div class="chanpin-list">
			<a href="#/sgxq">
				<p class="tit">神山国际度假二期 SSGJ (5万起投)</p>
				<div class="details">
					<ul>
						<li class="ta-l"><span><small>50000</small></span><b>投资金额</b></li>
						<li class="ta-c"><span><small>2017-8-8</small></span><b>收益到期日</b></li>
						<li class="ta-r"><span><small>2000000</small></span><b>预期本息</b></li>
					</ul>
				</div>
			</a>
		</div>
	</div>
</div>