<div class="wrapper">
	<div class="h44"></div>
	<div class="nav">
		<span class="nav-c">发现</span>
	</div>
	<div class="fx-top">
		<i><img src="images/icon31.png"></i>
		18812344321
		<a href="javascript:;">邀请好友></a>
	</div>
	<div class="fx-gonext">
		<ul>
			<li><a href="#/vip" class="hy"><img src="images/icon18.png">会员中心</a></li>
			<li><a href="#/jfsc" class="jf"><img src="images/icon21.png">积分商城</a></li>
		</ul>
	</div>
	
	<div class="activity-tab">
		<ul>
			<li class="act" tab>热门活动</li>
			<li tab>往期活动</li>
		</ul>
	</div>
	<div class="fx-hdlistbox mt-10">
		<div class="fx-hdlist">
			<p class="tit">双十一，情场失意，钱场得意<span>剩余3天</span></p>
			<a href=""><img src="images/hdlist.png"></a>
		</div>
		<div class="fx-hdlist">
			<p class="tit">双十一，情场失意，钱场得意<span>剩余3天</span></p>
			<a href=""><img src="images/hdlist.png"></a>
		</div>
		<div class="fx-hdlist">
			<p class="tit">双十一，情场失意，钱场得意<span>剩余3天</span></p>
			<a href=""><img src="images/hdlist.png"></a>
		</div>
		<div class="fx-hdlist">
			<p class="tit">双十一，情场失意，钱场得意<span>剩余3天</span></p>
			<a href=""><img src="images/hdlist.png"></a>
		</div>
	</div>

	<div class="h50"></div>
	<div class="home-btm">
		<ul>
		  <li><a class="sy" href="#/home">首页</a></li>     
		  <li><a class="cp" href="#/chanpin">产品</a></li>
		  <li class="act"><a class="fx" href="#/faxian">发现</a></li>
		  <li><a class="wd" href="#/core">我的</a></li>
		</ul>
	</div>
</div>	