
<div class="h44"></div>
<div class="nav">
	<a href="javascript:history.go(-1);" class="nav-l"></a>
	<span class="nav-c">风险评测</span>
</div>
<div class="fxpc-box">
	<div class="fxpc-list">
		<p class="tit">1.您的年龄是？</p>
		<ul>
			<li tab>18-30岁</li>
			<li tab>18-30岁</li>
			<li class="act" tab>18-30岁</li>
			<li tab>18-30岁</li>
		</ul>
	</div>
	<div class="fxpc-list">
		<p class="tit">2.您的学历是？</p>
		<ul>
			<li tab>高中及以下</li>
			<li class="act" tab>中专或大专中专或大专中专或大专中专或大专中专或大专中专或大专中专或大专中专或大专中专或大专中专或大专中专或大专中专或大专中专或大专中专或大专中专或大专中专或大专中专或大专中专或大专中专或大专中专或大专中专或大专中专或大专中专或大专中专或大专中专或大专</li>
			<li tab>本科</li>
			<li tab>硕士及以上硕士及以上硕士及以上硕士及以上硕士及以上硕士及以上硕士及以上硕士及以上硕士及以上硕士及以上硕士及以上硕士及以上硕士及以上硕士及以上硕士及以上硕士及以上硕士及以上硕士及以上硕士及以上</li>
		</ul>
	</div>
	<div class="fxpc-list">
		<p class="tit">2.您的学历是？</p>
		<ul>
			<li tab>高中及以下</li>
			<li class="act" tab>wejqhwejkqwheqwjkehqwjkehqwjehqwjehqwjkehqwjehqwjkeqhwejihqwejkhqwjkehqwjkehqkwehqjkwehqjkwehjkwehqjkwehjk</li>
			<li tab>本科</li>
			<li tab>硕士及以上硕士及以上硕士及以上硕士及以上硕士及以上硕士及以上硕士及以上硕士及以上硕士及以上硕士及以上硕士及以上硕士及以上硕士及以上硕士及以上硕士及以上硕士及以上硕士及以上硕士及以上硕士及以上</li>
		</ul>
	</div>
</div>
<div class="h60"></div>
<div class="fixed-btm">
	<a href="javascript:;" class="">预约抢购</a>
</div>