
<div class="wrapper">
	<div class="h44"></div>
	<div class="nav-bg-fff">
		<a href="javascript:history.go(-1);" class="nav-l"></a>
		<span class="nav-c">更换银行卡</span>
	</div>
	<div class="rz-tit">原卡</div>
	<div class="rz-label-inp bg-fff bor">
		<ul>
			<li><img class="img" src="images/icon15.png"><p>小宋</p></li>
			<li class="bor-none"><img class="img" src="images/icon17.png"><p>12361236781236127361273627</p></li>
		</ul>
	</div>
	<div class="rz-tit">现卡</div>
	<div class="rz-label-inp bg-fff bor">
		<ul>
			<li class="bor-none"><img class="img" src="images/icon13.png"><input placeholder="请输入本人银行卡号" type="text"></li>
		</ul>
	</div>
	<div class="login-inp mt-90">
		<ul>
			<li class="bor-none"><button class="mt-25">确定</button></li>
		</ul>
	</div>
</div>