
<div class="wrapper">
	<div class="h44"></div>
	<div class="nav-bg-fff">
		<a href="javascript:history.go(-1);" class="nav-l"></a>
		<span class="nav-c">我的银行卡</span>
	</div>
	<div class="rz-paymoney bg-fff">
		认证支付<span>0.1元</span>
	</div>
	<div class="rz-tit">请确保每项信息填写正确<a href="" class="r red">支持银行32家</a></div>
	<div class="rz-label-inp bg-fff bor">
		<ul>
			<li><img class="img" src="images/icon15.png"><p>宋</p></li>
			<li><img class="img" src="images/icon13.png"><p>36078123192371827</p></li>
			<li><img class="img" src="images/icon17.png"><p>12371283718923722321892</p></li>
			<li><img class="img" src="images/icon14.png"><input placeholder="请输入银行预手机号" type="text"></li>
			<li class="bor-none pos-r"><img class="img" src="images/icon16.png"><input placeholder="请输入短信验证码" type="text"><input class="yzm-btn" type="button" value="获取"></li>
		</ul>
	</div>
	<div class="rz-agreement">
		<p class="act">确认同意 <a href="" class="orange">《支付服务协议》</a></p>
	</div>
	<div class="login-inp mt-90">
		<ul>
			<li class="bor-none"><button class="mt-25">确定支付</button></li>
		</ul>
	</div>
	<div class="h44"></div>
</div>