<div class="wrapper">
	<div class="h44"></div>
	<div class="nav-bg-fff">
		<a href="javascript:history.go(-1);" class="nav-l"></a>
		<span class="nav-c">个人信息</span>
	</div>
	<div class="label-a">
		<ul>
			<li class="bor-none"><img src="images/icon47.png"><label>会员</label><span class="orange">尊享会员</span></li>
		</ul>
	</div>	
	<div class="label-a mt-10">
		<ul>
			<li class="bor-none"><a href=""><img src="images/icon49.png"><label>我的手机</label><span>150 **** ***</span></a></li>
			<li><a href=""><img src="images/icon42.png"><label>实名认证</label><span>3666 **** **** 6666</span></a></li>
			<li><a href=""><img src="images/icon54.png"><label>银行卡</label><span></span></a></li>
			<li><a href=""><img src="images/icon40.png"><label>安全口令</label><span class="orange">去设置</span></a></li>
			<li><a href=""><img src="images/icon43.png"><label>收货地址</label></a></li>
		</ul>
	</div>	
</div>	
<div class="tck" hidden>
	<i></i>
	<div class="tck-txt">
		<p class="txt">我们将向你的手机号为182***2222的手机发送一条验证码，确认是否本人操作，是否同意？</p>
		<p class="btn"><a href="javascript:;" class="act">取消</a><a href="javascript:;" class="act orange">确定</a></p>
	</div>
</div>