<div class="h44"></div>
<div class="nav">
	<a href="javascript:history.go(-1);" class="nav-l"></a>
	<span class="nav-c">积分</span>
</div>

<div class="jf-tips"><a href="" class="jf">积分总额：<span class="orange">195</span></a><a href="" class="sc"></a></div>

<div class="jf-tab">
	<ul>
		<li class="act" jftab>积分记录</li>
		<li jftab>获取更多积分</li>
	</ul>
</div>
<div class="jf-tab-box mt-15" >
	<div class="jf-record">
		<p class="tit"><span class="ta-l"><i><img src="images/icon23.png"></i>类型</span><span class="ta-c"><i><img src="images/icon24.png"></i>明细</span><span class="ta-r"><i><img src="images/icon30.png"></i>时间</span></p>
		<ul class="mt-10">
			<li><span class="ta-l">签到积分</span><span class="ta-c">+5</span><span class="ta-r">2017-8-15</span></li>
			<li><span class="ta-l">签到积分</span><span class="ta-c">+5</span><span class="ta-r">2017-8-15</span></li>
			<li><span class="ta-l">签到积分</span><span class="ta-c">+5</span><span class="ta-r">2017-8-15</span></li>
			<li><span class="ta-l">签到积分</span><span class="ta-c">+5</span><span class="ta-r">2017-8-15</span></li>
			<li><span class="ta-l">签到积分</span><span class="ta-c">+5</span><span class="ta-r">2017-8-15</span></li>
			<li><span class="ta-l">签到积分</span><span class="ta-c">+5</span><span class="ta-r">2017-8-15</span></li>
			<li><span class="ta-l">签到积分</span><span class="ta-c">+5</span><span class="ta-r">2017-8-15</span></li>
		</ul>
	</div>
</div>
<div class="jf-tab-box mt-15" hidden>
	<div class="jf-rule">
		<p class="tit"><i><img src="images/icon20.png"></i>积分获取途径</p>
		<p class="txt">巴拉巴拉一堆巴拉巴拉一堆巴拉巴拉一堆巴拉巴拉一堆巴拉巴拉一堆巴拉巴拉一堆巴拉巴拉一堆巴拉巴拉一堆巴拉巴拉一堆巴拉巴拉一堆巴拉巴拉一堆</p>
		<p class="tit"><i><img src="images/icon19.png"></i>积分获取方式</p>
		<p class="txt">巴拉巴拉一堆巴拉巴拉一堆巴拉巴拉一堆巴拉巴拉一堆巴拉巴拉一堆巴拉巴拉一堆巴拉巴拉一堆巴拉巴拉一堆巴拉巴拉一堆</p>
	</div>
</div>







