<div class="wrapper">
	<div class="h44"></div>
	<div class="nav">
		<a href="javascript:history.go(-1);" class="nav-l"></a>
		<span class="nav-c">积分商城</span>
	</div>
	<div class="swiper-container">
	  <div class="swiper-wrapper">
	      <div class="swiper-slide" ng-repeat="banner in bannerimg" repeat-finish="swiper()"><img ng-src="{{banner.img}}" /></div>
	  </div>
	  <!-- Add Pagination -->
	  <div class="swiper-pagination"></div>
	</div>
	<div class="jfsc-goa">
		<a href="#/jf"><span>我的积分</span><small class="orange">200</small></a>
		<a href=""><span>我的兑换</span><small class="orange">查看</small></a>
	</div>
	<div class="jfsc-item">
		<a href=""><img src="images/icon66.png"><span>摇一摇</span></a>
		<a href=""><img src="images/icon65.png"><span>限时兑换</span></a>
	</div>
	<div class="jfsc-list-tit">
		<span>积分兑换专区</span>
	</div>
	<div class="jfsc-listbox">
		<div class="jfsc-list">
			<a href="#/shopxq">
			<ul>
				<li class="img"><img src="images/splist.png"></li>
				<li class="tit">HELLO KITTY 陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗</li>
				<li class="jf">积分兑换：<span>2019积分</span></li>
			</ul>
			</a>
		</div>
		<div class="jfsc-list">
			<a href="#/shopxq">
			<ul>
				<li class="img"><img src="images/splist.png"></li>
				<li class="tit">HELLO KITTY 陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗</li>
				<li class="jf">积分兑换：<span>2019积分</span></li>
			</ul>
			</a>
		</div>
		<div class="jfsc-list">
			<a href="#/shopxq">
			<ul>
				<li class="img"><img src="images/splist.png"></li>
				<li class="tit">HELLO KITTY 陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗</li>
				<li class="jf">积分兑换：<span>2019积分</span></li>
			</ul>
			</a>
		</div>
		<div class="jfsc-list">
			<a href="#/shopxq">
			<ul>
				<li class="img"><img src="images/splist.png"></li>
				<li class="tit">HELLO KITTY 陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗</li>
				<li class="jf">积分兑换：<span>2019积分</span></li>
			</ul>
			</a>
		</div>
		<div class="jfsc-list">
			<a href="#/shopxq">
			<ul>
				<li class="img"><img src="images/splist.png"></li>
				<li class="tit">HELLO KITTY 陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗陶瓷碗</li>
				<li class="jf">积分兑换：<span>2019积分</span></li>
			</ul>
			</a>
		</div>
	</div>
</div>
<!-- Swiper JS -->
<script src="js/swiper.min.js"></script>