
<div class="wrapper">
	<div class="h44"></div>
	<div class="jijin-nav">
		<a href="javascript:history.go(-1);" class="nav-l"></a>
		<span class="nav-c">银康（江西）医疗产业私募股权投资基金一期</span>
	</div>
	<div class="jjxq-top">
		<ul>
			<li>基金类型<span>契约型</span></li>
			<li>存续期限<span>12+12(月)</span></li>
			<li>起投金额<span>100万</span></li>
		</ul>
	</div>
	<div class="jjxq-details mt-15">
		<p class="tit">基金详情</p>
		<ul>
			<li><img src="images/icon5.png"><label>产品规模</label><span>8000(万)</span></li>
			<li><img src="images/icon8.png"><label>运作方式</label><span>半开放型</span></li>
			<li><img src="images/icon7.png"><label>基金募集起始时间</label><span>2017-07-01</span></li>
			<li><img src="images/icon6.png"><label>基金管理人</label><span>上海银来股权投资基金管理有限公司</span></li>
		</ul>
	</div>
	<div class="jjxq-details mt-15">
		<ul>		
			<li class="bor-none"><img src="images/icon9.png"><label>咨询电话</label><a class="phone" href="tel:400-262-663">400-262-663</a></li>
		</ul>
	</div>
	
	<!--tck-->
	<div class="alert2-box" hidden>
		<i></i>
		<div class="alert2-txt">
			<p class="tit">你已预约成功！</p>
			<p class="txt">你的专属理财师将会在一个工作日联系你</p>
			<p class="btn">
				<a href="javascript:;">知道了</a>
			</p>
		</div>
	</div>
	<div class="h50"></div>
	<div class="fixed-btm">
		<a href="javascript:;">预约购买</a>
	</div>
</div>
