
<div class="wrapper">
	<div class="h44"></div>
	<div class="nav">
		<a href="javascript:history.go(-1);" class="nav-l"></a>
		<a href="javascript:;" class="nav-r4"></a>
		<span class="nav-c">可续投订单</span>
	</div>
	<div class="chanpin-tabbox">
		<div class="chanpin-list">
			<a href="#/sgxq">
				<p class="tit">神山国际度假二期 SSGJ (5万起投)<em class="xu">续</em></p>
				<div class="details">
					<ul>
						<li class="ta-l"><span><small>50000</small></span><b>投资金额</b></li>
						<li class="ta-c"><span><small>2017-8-8</small></span><b>收益到期日</b></li>
						<li class="ta-r"><span><small>2000000</small></span><b>预期本息</b></li>
					</ul>
				</div>
			</a>
		</div>
		<div class="chanpin-list">
			<a href="#/sgxq">
				<p class="tit">神山国际度假二期 SSGJ (5万起投)</p>
				<div class="details">
					<ul>
						<li class="ta-l"><span><small>50000</small></span><b>投资金额</b></li>
						<li class="ta-c"><span><small>2017-8-8</small></span><b>收益到期日</b></li>
						<li class="ta-r"><span><small>2000000</small></span><b>预期本息</b></li>
					</ul>
				</div>
			</a>
		</div>
	</div>
</div>
