
<div class="h44"></div>
<div class="nav-bg-fff">
	<!-- <a href="javascript:history.go(-1);" class="nav-l"></a> -->
	<span class="nav-c">评测结果</span>
</div>
<div class="pcend-box">
	<p class="pc-b-1of">您的评测结果为</p>
	<p class="pc-b-2of">C4</p>
	<p class="pc-b-3of">你可购买风险等级为 <span class="red">R1,R2,R3,R4</span> 的产品</p>
	<p class="pc-b-3of">抱歉！您的可承受风险等级程度过低，不符合目前基金协会规定，基金产品不能对您进行开放查看</p>
	<a class="pc-b-4of" href="">重新评测</a>
	<p class="pc-b-5of">本月剩余评测2次</p>
	<a class="pc-b-6of" href="">完成</a>
</div>