
<div class="wrapper">
	<div class="h44"></div>
	<div class="nav-bg-fff">
		<a href="javascript:history.go(-1);" class="nav-l"></a>
		<span class="nav-c">订单确认</span>
	</div>	
	<div class="qrdd-add">
		<a class="tit">选择收货地址</a>
		<ul>
			<li>姓名：小宋</li>
			<li>手机：15002222222</li>
			<li>地址：上海浦东新区东方路710号汤臣金融大厦404室</li>
		</ul>
	</div>
	<div class="qrdd-shopxq mt-10">
		<i><img src="images/splist.png"></i>
		<ul>
			<li>HELLO KITTY 陶瓷碗</li>
			<li class="btm"><b class="orange">2190</b>积分 <span>市场价：￥58</span></li>
		</ul>
	</div>
	<div class="qrdd-num bg-fff mt-10">
		数量 <span>x2</span>
	</div>
	<div class="qrdd-tips bg-fff mt-10">
		兑换商品将在下单后第二个工作日寄出，请确保收货地址和电话的准确性，以免影响收货日期，谢谢！
	</div>
	<div class="spxq-btm bg-fff">
		实付款：<b class="orange">2190</b>积分
		<a href="javascript:;" class="show-btm2">立即兑换</a>
	</div>
</div>
<div class="qrdd-tck" hidden>
	<i></i>
	<div class="q-t-content">
		<p class="tit"><span>&times;</span>兑换详情</p>
		<div class="list">
			<ul>
				<li><label>兑换商品</label>HELLO KITTY陶瓷碗</li>
				<li><label>商品积分</label><span>2190积分</span></li>
				<li><label>兑换数量</label><span>2</span></li>
				<li><label class="act">需付积分</label><span class="act">4380积分</span></li>
			</ul>
		</div>
		<div class="btn">
			<button>确认兑换</button>
		</div>
	</div>
</div>