
<div class="h44"></div>
<div class="nav">
	<a href="javascript:history.go(-1);" class="nav-l"></a>
	<span class="nav-c">注册</span>
</div>
<div class="login-inp mt-55">
	<ul>
		<li><input type="number" placeholder="请输入手机号"></li>
		<li class="pos-r"><input class="pr-40" type="password" placeholder="请输入8-20位密码,不含特殊符号"><span class="eye"></span></li>
		<li class="pos-r"><input class="pr-80" type="text" placeholder="验证码"><input class="yzm-btn" type="button" value="获取"></li>
		<li><input type="text" placeholder="员工编号（必填）"></li>
		<li class="bor-none"><button class="mt-55">注册并登录</button></li>
		<li class="bor-none t-c">绑定即代表同意<a href="" class="orange">《银来金服用户协议》</a></li>
	</ul>
</div>