
<div class="wrapper">
	<div class="h44"></div>
	<div class="nav-bg-fff">
		<a href="javascript:history.go(-1);" class="nav-l"></a>
		<span class="nav-c">实名信息</span>
	</div>
	<div class="rz-speed">
		<ul>
			<li class="b-l act">
				<span>1</span>
				<small>实名认证</small>
			</li>
			<li class="b-r">
				<span>2</span>
				<small>认证支付</small>
			</li>
		</ul>
	</div>
	<div class="rz-tit">为保证资金安全，请先认证个人信息</div>
	<div class="rz-label-inp bg-fff bor">
		<ul>
			<li><img class="img" src="images/icon15.png"><input placeholder="真实姓名" type="text"></li>
			<li><img class="img" src="images/icon13.png"><input placeholder="身份证号" type="number"></li>
			<li class="bor-none"><img class="img" src="images/icon17.png"><input placeholder="新增银行卡号" type="number"></li>
		</ul>
	</div>

	<div class="login-inp mt-90">
		<ul>
			<li class="bor-none"><button class="mt-25">确定</button></li>
		</ul>
	</div>
</div>