
<div class="wrapper">
	<div class="h44"></div>
	<div class="nav-bg-fff">
		<a href="javascript:history.go(-1);" class="nav-l"></a>
		<a href="#/add" class="nav-r">管理</a>
		<span class="nav-c">选择收货地址</span>
	</div>	
	<div class="go-tjdz"><a href="#/tjdz">快速添加地址</a></div>
	<div class="seladd-list" tab>
		<ul>
			<li>姓名：夏松</li>
			<li>手机：15522223333</li>
			<li>地址：上海市上海市浦东西区文件二期为科技请勿靠近二期恐龙危机乾坤湾</li>
			<li>邮编：20000</li>
		</ul>
	</div>
	<div class="seladd-list act" tab>
		<ul>
			<li>姓名：夏松</li>
			<li>手机：15522223333</li>
			<li>地址：上海市上海市浦东西区文件二期为科技请勿靠近二期恐龙危机乾坤湾</li>
			<li>邮编：20000</li>
		</ul>
	</div>
	<div class="add-btn mt-40">
		<button>确认</button>
	</div>
</div>