
<div class="wrapper">
	<div class="h44"></div>
	<div class="nav-bg-fff bor-none">
		<a href="javascript:history.go(-1);" class="nav-l"></a>
		<a href="#/skxq" class="nav-r2">收款详情</a>
		<span class="nav-c">神山国际二期</span>
	</div>
	<div class="sgxq-code">
		合同编号
		<span>YSYS1008611</span>
	</div>
	<div class="sgxq-money">
		<ul>
			<li><span>1000,000</span>投资金额</li>
			<li><span>1000,000</span>预期收益</li>
		</ul>
	</div>
	<div class="jjxq-details mt-10">
		<p class="tit">申购详情</p>
		<ul>
			<li><label>本金</label><span>8000,000</span></li>
			<li><label>期限</label><span>12（月）</span></li>
			<li><label>预期年化</label><span>12%</span></li>
			<li><label>预期收益</label><span>10,000</span></li>
			<li><label>返息方式</label><span>按半年返息</span></li>
			<li><label>收益起始日</label><span>2017-09-22</span></li>
			<li><label>收益到期日</label><span>2017-09-23</span></li>
		</ul>
	</div>

</div>
