
<div class="h44"></div>
<div class="nav">
	<a href="javascript:history.go(-1);" class="nav-l"></a>
	<a href="javascript:;" class="nav-r3"></a>
	<span class="nav-c">商品详情</span>
</div>
<div class="spxq-img">
	<img src="images/splist.png">
</div>
<div class="spxq-msg">
	<ul>
		<li><span class="tit">HELLO KITTY陶瓷碗</span><span class="r">剩余<i class="orange">7</i>份</span></li>
		<li><span class="jg">售价:<b class="orange">2910</b>积分</span> <span class="r">市场价：￥58</span></li>
	</ul>
</div>
<div class="spxq-tit">
	<span>商品描述</span>
</div>
<div class="spxq-html">
	吧啦吧啦一大堆
</div>

<div class="h50"></div>
<div class="spxq-btm">
	单价：<b class="orange">2190</b>积分
	<a href="javascript:;" class="show-btm2">立即兑换</a>
</div>

<div class="spxq-btm2">
	<p class="tit">兑换数量<i></i></p>
	<p class="num"><span>-</span><input type="number"><span>+</span></p>
</div>
<script type="text/javascript">
	$('.show-btm2').click(function(){
		$('.spxq-btm2').addClass('act')
	})
	$('.spxq-btm2 .tit i').click(function(){
		$('.spxq-btm2').removeClass('act')
	})
</script>