
<div class="wrapper">
	<div class="h44"></div>
	<div class="nav ">
		<a href="javascript:history.go(-1);" class="nav-l"></a>
		<span class="nav-c">收款详情</span>
	</div>
	<div class="h54"></div>
	<div class="chanpin-tab">
		<ul>
			<li class="act" tab>未收款</li>
			<li tab>已收款</li>
		</ul>
	</div>
	
	<div class="label-a">
		<ul>
			<li class="bor-none"><label><b>01</b></label></li>
			<li><label>本期本金</label><span class="red">--</span></li>
			<li><label>本期利息</label><span class="red">--</span></li>
			<li><label>本期收款日</label><span class="red">--</span></li>
			<li><label>预期收款日期</label><span>2017-09-22</span></li>
		</ul>
	</div>
	<div class="label-a mt-10">
		<ul>
			<li class="bor-none"><label><b>02</b></label></li>
			<li><label>本期本金</label><span class="red">--</span></li>
			<li><label>本期利息</label><span class="red">--</span></li>
			<li><label>本期收款日</label><span class="red">--</span></li>
			<li><label>预期收款日期</label><span>2017-09-22</span></li>
		</ul>
	</div>
</div>
