
<div class="h44"></div>
<div class="nav-bg-fff bor-none">
	<a href="javascript:history.go(-1);" class="nav-l"></a>
	<span class="nav-c">特权详情</span>
</div>
<div class="h10 bg"></div>
<div class="tqxq-tit"><span>晋级说明</span></div>
<div class="tqxq-top">
	<img src="images/icon84.png">
</div>
<div class="sm-txt-box">	
	<div class="tqxq-title">
		会员等级变动说明
	</div>
	<div class="tqxq-txt">
		<span>升级：</span>
		巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆
	</div>
	<div class="tqxq-txt">
		<span>降级：</span>
		巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆巴拉巴拉一大堆
	</div>
</div>
<div class="tqxq-tit"><span>等级特权</span></div>
<div class="tqxq-table mt-15">
	<ul class="tit">
		<li>特权</li>
		<li>普通会员</li>
		<li>VIP会员</li>
		<li>SVIP会员</li>
		<li>尊享会员</li>
	</ul>
	<ul>
		<li>无忧交易</li>
		<li class="act"></li>
		<li class="act"></li>
		<li></li>
		<li></li>
	</ul>
	<ul>
		<li>无忧交易</li>
		<li class="act"></li>
		<li class="act"></li>
		<li></li>
		<li></li>
	</ul>
	<ul>
		<li>无忧交易</li>
		<li class="act"></li>
		<li class="act"></li>
		<li></li>
		<li></li>
	</ul>
	<ul>
		<li>无忧交易</li>
		<li class="act"></li>
		<li class="act"></li>
		<li></li>
		<li></li>
	</ul>
	<ul>
		<li>无忧交易</li>
		<li class="act"></li>
		<li class="act"></li>
		<li></li>
		<li></li>
	</ul>
	<ul>
		<li>无忧交易</li>
		<li class="act"></li>
		<li class="act"></li>
		<li></li>
		<li></li>
	</ul>
</div>
<div class="h44"></div>


