
<div class="h44"></div>
<div class="nav">
	<a href="javascript:history.go(-1);" class="nav-l"></a>
	<span class="nav-c">更换登录密码</span>
</div>
<div class="login-inp mt-55">
	<ul>
		<li><input type="number" placeholder="请输入原登录密码"></li>
		<li class="pos-r"><input class="pr-40" type="password" placeholder="请输入新登录密码"></li>
		<li class="pos-r"><input class="pr-40" type="password" placeholder="请再次输入密码"><span class="eye"></span></li>
		<li class="bor-none"><button class="mt-55 act">确认</button></li>
	</ul>
</div>