
<div class="wrapper">
	<div class="h44"></div>
	<div class="nav">
		<a href="javascript:history.go(-1);" class="nav-l"></a>
		<span class="nav-c">续投记录</span>
	</div>
	<div class="xtjl-box">
		<p class="month">2017年08月</p>
		<ul>
			<li><a href="">YSYYS201788888</a></li>
			<li><a href="">YSYYS201788888</a></li>
		</ul>
	</div>
	<div class="xtjl-box">
		<p class="month">2017年08月</p>
		<ul>
			<li><a href="">YSYYS201788888</a></li>
			<li><a href="">YSYYS201788888</a></li>
		</ul>
	</div>
</div>
