
<div class="h44"></div>
<div class="nav">
	<a href="javascript:history.go(-1);" class="nav-l"></a>
	<a href="javascript:;" class="nav-r5"></a>
	<span class="nav-c">YSYSYS23123</span>
</div>
<div class="xtjlxq-box">
	<ul>
		<li><label>投资本金</label><span>500,000,00</span></li>
		<li><label>追加金额</label><span>500,000,00</span></li>
		<li><label>收益起始日</label><span>500,000,00</span></li>
		<li><label>收益到期日</label><span>500,000,00</span></li>
		<li><label>原合同编号</label><span class="orange">YYSYS02381289</span></li>
	</ul>
</div>
<div class="xtjlxq-more-box" hidden>
	<i></i>
	<div class="content">
		<ul>
			<li><a href="">查看原订单</a></li>
			<li><a href="">查看现订单</a></li>
		</ul>
		<a href="javascript:;" class="mt-10">取消</a>
	</div>
</div>