
<div class="wrapper">
	<div class="h44"></div>
	<div class="nav">
		<a href="javascript:history.go(-1);" class="nav-l"></a>
		<span class="nav-c">消息中心</span>
	</div>		
	<div class="h54"></div>
	<div class="chanpin-tab">
		<ul>
			<li class="act" tab>通知</li>
			<li tab>公告</li>
		</ul>
	</div>
	<div class="xxzx-listbox">
		<div class="xxzx-list">
			<p class="tit"><span class="state">你的智商已到账</span><span class="time">2017-08-12 13:22</span></p>
			<p class="txt">你的智商已到账你的智商已到账你的智商已到账你的智商已到账你的智商已到账你的智商已到账你的智商已到账你的智商已到账你的智商已到账你的智商已到账你的智商已到账你的智商已到账你的智商已到账你的智商已到账你的智商已到账你的智商已到账你的智商已到账你的智商已到账你的智商已到账你的智商已到账你的智商已到账你的智商已到账</p>
		</div>
		<div class="xxzx-list">
			<p class="tit"><span class="state">你的智商已到账</span><span class="time">2017-08-12 13:22</span></p>
			<p class="txt">你的智商已到账你的到账你的智商已到账你的智商已到账你的智商已到账你的智商已到账你的智商已到账你的智商已到账</p>
		</div>
		<div class="xxzx-list">
			<p class="tit"><span class="state">你的智商已到账</span><span class="time">2017-08-12 13:22</span></p>
			<p class="txt">账你的智商已到账你的智商已到账你的智商已到账你的智商已到账你的智商已到账你的智商已到账</p>
		</div>
	</div>
</div>