
<div class="login-nav">
	<a href="javascript:history.go(-1);" class="nav-l"></a>
	<span class="nav-c">验证码登录</span>
</div>
<div class="login-logo">
	<img src="images/logo.png">
</div>
<div class="login-inp mt-55">
	<ul>
		<li class="pos-r"><input class="pr-80" type="number" placeholder="请输入注册手机号"><input class="yzm-btn" type="button" value="获取"></li>
		<li><input type="text" placeholder="请输入验证码"></li>
		<li class="bor-none right-a"><a href="#/czmm">忘记密码？</a></li>
		<li class="bor-none"><button class="mt-25">登录</button></li>
		<li class="bor-none t-c"><a href="#/login" class="orange">密码登录</a>&nbsp;|&nbsp;没有账号？<a href="#/register" class="orange">立即注册</a></li>
	</ul>
</div>

<div class="alert-box" hidden>
	<i></i>
	<div class="alert-txt">用户名或密码输入错误</div>
</div>