<div class="wrapper">
	<div class="h44"></div>
	<div class="nav">
		<a href="javascript:history.go(-1);" class="nav-l"></a>
		<span class="nav-c">月账单</span>
	</div>
	<div class="chart-box bor bg-fff mt-10">
		<div class="tit">
			<span class="rl"></span>
			<div class="time">
				<span>2017年6月</span>
				<ul>
					<li>2017年5月</li>
					<li>2017年5月</li>
					<li>2017年5月</li>
					<li>2017年5月</li>
					<li>2017年5月</li>
					<li>2017年5月</li>
					<li>2017年5月</li>
				</ul>
			</div>
		</div>
		<div class="zd-tit pad0">
			<span>切换预期收益<i><img src="images/icon46.png"></i></span>
		</div>
		<div class="zd-canvas">
			<div id="main"></div>
		</div>
	</div>
	<div class="zd-listbox mt-10 bor bg-fff">
		<div class="zd-tit">持有资产详情<span class="orange r">总额：￥200000</span></div>
		<div class="zd-list">
			<ul>
				<li><span class="ta-l">【神山国际二期】</span><span class="ta-c">按月分配</span><span class="ta-r">￥5000000</span></li>
				<li><span class="ta-l">【神山国际二期】</span><span class="ta-c">按月分配</span><span class="ta-r">￥5000000</span></li>
				<li><span class="ta-l">【神山国际二期】</span><span class="ta-c">按月分配</span><span class="ta-r">￥5000000</span></li>
				<li><span class="ta-l">【神山国际二期】</span><span class="ta-c">按月分配</span><span class="ta-r">￥5000000</span></li>
				<li><span class="ta-l">【神山国际二期】</span><span class="ta-c">按月分配</span><span class="ta-r">￥5000000</span></li>
			</ul>
		</div>
	</div>
	<div class="zd-listbox mt-10 bor bg-fff">
		<div class="zd-tit">到账收益<span class="orange r">总额：￥2000</span></div>
		<div class="zd-list">
			<ul>
				<li><span class="ta-l">【神山国际二期】</span><span class="ta-c">按月分配</span><span class="ta-r">￥5000</span></li>
				<li><span class="ta-l">【神山国际二期】</span><span class="ta-c">按月分配</span><span class="ta-r">￥5000</span></li>
				<li><span class="ta-l">【神山国际二期】</span><span class="ta-c">按月分配</span><span class="ta-r">￥5000</span></li>
				<li><span class="ta-l">【神山国际二期】</span><span class="ta-c">按月分配</span><span class="ta-r">￥5000</span></li>
				<li><span class="ta-l">【神山国际二期】</span><span class="ta-c">按月分配</span><span class="ta-r">￥5000</span></li>
			</ul>
		</div>
	</div>
	<div class="zdrl-tck" hidden>
		<i></i>
		<div class="zdrl-box">
			<p class="tit"><span class="left"></span><span  class="time">2017年8月</span><span class="right"></span><span class="close"></span></p>
			<div class="zdrl-date-box">
				<p class="tit"><span>日</span><span>一</span><span>二</span><span>三</span><span>四</span><span>五</span><span>六</span></p>
				<ul>
					<li><span>1</span></li>
					<li><span>1</span></li>
					<li><span>1</span></li>
					<li><span>1</span></li>
					<li><span>1</span></li>
					<li><span>1</span></li>
					<li><span>1</span></li>
					<li class="act"><span>1</span></li>
					<li><span>1</span></li>
					<li><span>1</span></li>
					<li><span>1</span></li>
					<li><span>1</span></li>
					<li class="act"><span>1</span></li>
					<li><span>1</span></li>
					<li><span>1</span></li>
					<li><span>1</span></li>
					<li><span>1</span></li>
					<li><span>1</span></li>
					<li><span>1</span></li>
					<li><span>1</span></li>
					<li><span>1</span></li>
					<li><span>1</span></li>
					<li><span>1</span></li>
					<li class="act2"><span>1</span></li>
					<li><span>1</span></li>
					<li><span>1</span></li>
					<li><span>1</span></li>
					<li><span>1</span></li>
					<li class="act2"><span>1</span></li>
					<li><span>1</span></li>
					<li><span>1</span></li>
					<li><span>1</span></li>
					<li><span>1</span></li>
					<li><span>1</span></li>
					<li><span>1</span></li>
					<li><span>1</span></li>
					<li><span>1</span></li>
					<li><span>1</span></li>
					<li><span>1</span></li>
					<li><span>1</span></li>
				</ul>
			</div>
			<div class="zd-msg">
				<div class="zd-msg-list">
					<div class="time state1">2017年8月7日</div>
					<div class="txt">
						<span>【神山国际二期】，到账收益到账收益到账收益到账收益到账收益到账账收益到账收益到账收益到账收益到账收益到账收益到账收益到账收益20000</span>
					</div>
				</div>
				<div class="zd-msg-list">
					<div class="time state2">2017年8月7日</div>
					<div class="txt">
						<span>【神山国际二期】，到账收益20000</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="js/echarts.min.js"></script>
