<div class="wrapper">
	<div class="h44"></div>
	<div class="nav-bg-fff">
		<a href="javascript:history.go(-1);" class="nav-l"></a>
		<span class="nav-c">账户设置</span>
	</div>
	<div class="label-a">
		<ul>
			<li class="bor-none"><a href=""><img src="images/icon35.png"><label>登录密码</label></a></li>
		</ul>
	</div>	
	<div class="label-a mt-10">
		<ul>
			<li class="bor-none"><a href=""><img src="images/icon44.png"><label>手势密码</label><span>未设置</span></a></li>
		</ul>
	</div>	
	<div class="label-a mt-10">
		<ul>
			<li class="bor-none"><a href=""><img src="images/icon55.png"><label>在线客服</label></a></li>
		</ul>
	</div>		
	<div class="label-a mt-10">
		<ul>
			<li class="bor-none"><a href=""><img src="images/icon41.png"><label>客服热线</label><span class="orange">400-222-222</span></a></li>
		</ul>
	</div>	
	<div class="label-a mt-10">
		<ul>
			<li class="bor-none"><a href=""><img src="images/icon32.png"><label>帮助中心</label></a></li>
		</ul>
	</div>
	<div class="label-a mt-10">
		<ul>
			<li class="bor-none"><a href=""><img src="images/icon53.png"><label>意见反馈</label></a></li>
		</ul>
	</div>
	<div class="label-a mt-10">
		<ul>
			<li class="bor-none"><a href=""><img src="images/icon50.png"><label>给我评论</label></a></li>
		</ul>
	</div>
	<div class="label-a mt-10">
		<ul>
			<li class="bor-none"><a href=""><img src="images/icon38.png"><label>关于我们</label></a></li>
		</ul>
	</div>
	<div class="zhsz-btn mt-40">
		<button>退出登录</button>
	</div>
</div>	